:root
{
  --couleur-primaire:#FFFFFF;
  --couleur-secondaire:#000000;
  --degrade-principal:linear-gradient(35.74deg, rgba(167, 2, 154, 0.7) -2.92%, rgba(167, 2, 154, 0) 106.13%);
  --couleur-mauve: rgba(167, 2, 154, 0.7);
  --couleur-ombre: 0px 0px 5px rgba(0, 0, 0, 0.5);
}